LAB3.1
Mục tiêu: Nắm vững cách đọc và khám phá dữ liệu cơ bản từ file CSV.
Nhiệm Vụ:
1. Đọc file stocks1.csv vào DataFrame stocks1.
2. Hiển thị 5 dòng đầu tiên của stocks1.
3. Hiển thị kiểu dữ liệu (dtype) của mỗi cột trong stocks1.
4. Xem thông tin tổng quan (info) của stocks1.

In [3]:
import pandas as pd
import numpy as np

file_path='D:/Lab3/Data/stocks1.csv'
stocks1=pd.read_csv(file_path)
print(stocks1)

print(stocks1[:5]) #In ra 5 dòng đầu.
print(stocks1.dtypes) #In ra kiểu dữ liệu.
print(stocks1.info()) #In ra tổng quan của stocks1.

        date symbol     open     high      low    close    volume
0   01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73   4974877
1   04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17   6167358
2   05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43   3681522
3   06-03-19   AMZN  1695.97      NaN      NaN  1668.95   3996001
4   07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95   4957017
5   01-03-19   AAPL   174.28   175.15   172.89   174.97  25886167
6   04-03-19   AAPL   175.69   177.75   173.97   175.85  27436203
7   05-03-19   AAPL   175.94   176.00   174.54   175.53  19737419
8   06-03-19   AAPL   174.67   175.49   173.94   174.52  20810384
9   07-03-19   AAPL   173.87   174.44   172.02   172.50  24796374
10  01-03-19   GOOG  1124.90  1142.97  1124.75  1140.99   1450316
11  04-03-19   GOOG  1146.99  1158.28  1130.69  1147.80   1446047
12  05-03-19   GOOG  1150.06      NaN      NaN  1162.03   1443174
13  06-03-19   GOOG  1162.49  1167.57  1155.49  1157.86   1099289
14  07-03-19   GOOG  1155.72  1156.76  1134.91  1143.30   1166559
       date symbol     open     high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017
date       object
symbol     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   symbol  15 non-null     object
 2   open    15 non-null     float64
 3   high    13 non-null     float64
 4   low     13 non-null     float64
 5   close   15 non-null     float64
 6   volume  15 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 972.0+ bytes
None

LAB 3.2. XỬ LÝ DỮ LIỆU NULL (thời gian thực hiện: 15-20 phút.)
Mục tiêu: Học cách xác định và xử lý dữ liệu Null.
Nhiệm Vụ:
1. Kiểm tra xem trong stocks1 có dữ liệu Null nào không.
2. Thay thế dữ liệu Null ở cột high bằng giá trị trung bình của cột high.
3. Thay thế dữ liệu Null ở cột low bằng giá trị trung bình của cột low.
4. Hiển thị thông tin tổng quan để xác nhận không còn dữ liệu Null.

In [4]:

#Kiểm tra dữ liệu Null trong stocks1
Ktra_Null= stocks1.isnull()
print(Ktra_Null.sum()) 

#Tính gtri trun bình và thay thế gtri Null
gtri_tb=stocks1['high'].mean()
stocks1['high'] = stocks1['high'].fillna(gtri_tb)
print(stocks1['high'])


#Tính gtri trun bình và thay thế gtri Null
gtri_tbinh=stocks1['low'].mean()
stocks1['low'] = stocks1['low'].fillna(gtri_tbinh)
print(stocks1['low'])

#Hiển thị tổng quan sau khi thay thế gtri
stocks1.info()

date      0
symbol    0
open      0
high      2
low       2
close     0
volume    0
dtype: int64
0     1674.260000
1     1709.430000
2     1707.800000
3      943.511538
4     1669.750000
5      175.150000
6      177.750000
7      176.000000
8      175.490000
9      174.440000
10    1142.970000
11    1158.280000
12     943.511538
13    1167.570000
14    1156.760000
Name: high, dtype: float64
0     1651.000000
1     1674.360000
2     1689.010000
3      926.775385
4     1620.510000
5      172.890000
6      173.970000
7      174.540000
8      173.940000
9      172.020000
10    1124.750000
11    1130.690000
12     926.775385
13    1155.490000
14    1134.910000
Name: low, dtype: float64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   symbol  15 non-null     object
 2   open    15 non-null     float64
 3   high    15 non-null     float64
 4   low     15 non-null     float64
 5   close   15 non-null     float64
 6   volume  15 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 972.0+ bytes

LAB 3.3. GỘP DỮ LIỆU VÀ PHÂN TÍCH CƠ BẢN (thời gian thực hiện: 15-20 phút.)
Mục tiêu: Nắm vững cách gộp dữ liệu và thực hiện phân tích cơ bản.
Nhiệm Vụ:
1. Đọc file stocks2.csv vào DataFrame stocks2.
2. Gộp stocks1 và stocks2 thành DataFrame mới tên là stocks.
3. Tính giá trung bình (open, high, low, close) cho mỗi ngày.
4. Hiển thị 5 dòng đầu tiên của kết quả.

In [6]:
file='D:/Lab3/Data/stocks2.csv'
stocks2=pd.read_csv(file)

#Gộp stocks1 và stocks2
stocks=pd.concat([stocks1,stocks2],ignore_index=True)
print(stocks)

#Tính gtri trung bình cho mỗi ngày
stocks['average'] = stocks[['open', 'high', 'low', 'close']].mean(axis=1)
print(stocks)
stocks[:5]

        date symbol     open         high          low    close    volume
0   01-03-19   AMZN  1655.13  1674.260000  1651.000000  1671.73   4974877
1   04-03-19   AMZN  1685.00  1709.430000  1674.360000  1696.17   6167358
2   05-03-19   AMZN  1702.95  1707.800000  1689.010000  1692.43   3681522
3   06-03-19   AMZN  1695.97   943.511538   926.775385  1668.95   3996001
4   07-03-19   AMZN  1667.37  1669.750000  1620.510000  1625.95   4957017
5   01-03-19   AAPL   174.28   175.150000   172.890000   174.97  25886167
6   04-03-19   AAPL   175.69   177.750000   173.970000   175.85  27436203
7   05-03-19   AAPL   175.94   176.000000   174.540000   175.53  19737419
8   06-03-19   AAPL   174.67   175.490000   173.940000   174.52  20810384
9   07-03-19   AAPL   173.87   174.440000   172.020000   172.50  24796374
10  01-03-19   GOOG  1124.90  1142.970000  1124.750000  1140.99   1450316
11  04-03-19   GOOG  1146.99  1158.280000  1130.690000  1147.80   1446047
12  05-03-19   GOOG  1150.06   943.511538   926.775385  1162.03   1443174
13  06-03-19   GOOG  1162.49  1167.570000  1155.490000  1157.86   1099289
14  07-03-19   GOOG  1155.72  1156.760000  1134.910000  1143.30   1166559
15  01-03-19     FB   162.60   163.132000   161.690000   162.28  11097770
16  04-03-19     FB   163.90   167.500000   163.830000   167.37  18894689
17  05-03-19     FB   167.37   171.880000   166.550000   171.26  28187890
18  06-03-19     FB   172.90   173.570000   171.270000   172.51  21531723
19  07-03-19     FB   171.50   171.740000   167.610000   169.13  18306504
20  01-03-19   TSLA   306.94   307.130000   291.900000   294.79  22911375
21  04-03-19   TSLA   298.12   299.000000   282.780000   285.36  17096818
22  05-03-19   TSLA   282.00   284.000000   270.100000   276.54  18764740
23  06-03-19   TSLA   276.48   281.505800   274.390000   276.24  10335485
24  07-03-19   TSLA   278.84   284.700000   274.250000   276.59   9442483
        date symbol     open         high          low    close    volume  \
0   01-03-19   AMZN  1655.13  1674.260000  1651.000000  1671.73   4974877
1   04-03-19   AMZN  1685.00  1709.430000  1674.360000  1696.17   6167358
2   05-03-19   AMZN  1702.95  1707.800000  1689.010000  1692.43   3681522
3   06-03-19   AMZN  1695.97   943.511538   926.775385  1668.95   3996001
4   07-03-19   AMZN  1667.37  1669.750000  1620.510000  1625.95   4957017
5   01-03-19   AAPL   174.28   175.150000   172.890000   174.97  25886167
6   04-03-19   AAPL   175.69   177.750000   173.970000   175.85  27436203
7   05-03-19   AAPL   175.94   176.000000   174.540000   175.53  19737419
8   06-03-19   AAPL   174.67   175.490000   173.940000   174.52  20810384
9   07-03-19   AAPL   173.87   174.440000   172.020000   172.50  24796374
10  01-03-19   GOOG  1124.90  1142.970000  1124.750000  1140.99   1450316
11  04-03-19   GOOG  1146.99  1158.280000  1130.690000  1147.80   1446047
12  05-03-19   GOOG  1150.06   943.511538   926.775385  1162.03   1443174
13  06-03-19   GOOG  1162.49  1167.570000  1155.490000  1157.86   1099289
14  07-03-19   GOOG  1155.72  1156.760000  1134.910000  1143.30   1166559
15  01-03-19     FB   162.60   163.132000   161.690000   162.28  11097770
16  04-03-19     FB   163.90   167.500000   163.830000   167.37  18894689
17  05-03-19     FB   167.37   171.880000   166.550000   171.26  28187890
18  06-03-19     FB   172.90   173.570000   171.270000   172.51  21531723
19  07-03-19     FB   171.50   171.740000   167.610000   169.13  18306504
20  01-03-19   TSLA   306.94   307.130000   291.900000   294.79  22911375
21  04-03-19   TSLA   298.12   299.000000   282.780000   285.36  17096818
22  05-03-19   TSLA   282.00   284.000000   270.100000   276.54  18764740
23  06-03-19   TSLA   276.48   281.505800   274.390000   276.24  10335485
24  07-03-19   TSLA   278.84   284.700000   274.250000   276.59   9442483

        average
0   1663.030000
1   1691.240000
2   1698.047500
3   1308.801731
4   1645.895000
5    174.322500
6    175.815000
7    175.502500
8    174.655000
9    173.207500
10  1133.402500
11  1145.940000
12  1045.594231
13  1160.852500
14  1147.672500
15   162.425500
16   165.650000
17   169.265000
18   172.562500
19   169.995000
20   300.190000
21   291.315000
22   278.160000
23   277.153950
24   278.595000

,date,symbol,open,high,low,close,volume,average
0,01-03-19,AMZN,1655.13,1674.260000,1651.000000,1671.73,4974877,1663.030000
1,04-03-19,AMZN,1685.00,1709.430000,1674.360000,1696.17,6167358,1691.240000
2,05-03-19,AMZN,1702.95,1707.800000,1689.010000,1692.43,3681522,1698.047500
3,06-03-19,AMZN,1695.97,943.511538,926.775385,1668.95,3996001,1308.801731
4,07-03-19,AMZN,1667.37,1669.750000,1620.510000,1625.95,4957017,1645.895000

LAB 3.4. KẾT HỢP DỮ LIỆU TỪ NHIỀU NGUỒN (thời gian thực hiện: 15-20 phút.)
Mục Tiêu: Nắm được cách kết hợp dữ liệu từ các file khác nhau và thực hiện phân tích cơ
bản.
Nhiệm Vụ:
1. Đọc file companies.csv vào DataFrame companies.
2. Hiển thị 5 dòng đầu tiên của companies.
3. Kết hợp stocks (đã tạo từ bài 3) và companies dựa trên cột chung là symbol.
4. Tính giá đóng cửa (close) trung bình cho mỗi công ty.
5. Hiển thị kết quả cho 5 công ty đầu tiên.

In [8]:
file_company='D:/Lab3/Data/companies.csv'
companies=pd.read_csv(file_company)
print(companies[:5])

#kết hợp theo cột chung là symbol
data=pd.merge(stocks, companies,left_on='symbol', right_on='name')
print(data)

#Tính trung bình giá close của mỗi công ty
data.groupby('name')['close'].mean()
print(data)

#Hiển thị kqua cho 5 cty đầu tiên 
print(data[:5])

   name  employees headquarters_city headquarters_state
0  AMZN     613300           Seattle                 WA
1  GOOG      98771     Mountain View                 CA
2  AAPL     132000         Cupertino                 CA
3    FB      48268        Menlo Park                 CA
4  TSLA      48016         Palo Alto                 CA
        date symbol     open         high          low    close    volume  \
0   01-03-19   AMZN  1655.13  1674.260000  1651.000000  1671.73   4974877
1   04-03-19   AMZN  1685.00  1709.430000  1674.360000  1696.17   6167358
2   05-03-19   AMZN  1702.95  1707.800000  1689.010000  1692.43   3681522
3   06-03-19   AMZN  1695.97   943.511538   926.775385  1668.95   3996001
4   07-03-19   AMZN  1667.37  1669.750000  1620.510000  1625.95   4957017
5   01-03-19   AAPL   174.28   175.150000   172.890000   174.97  25886167
6   04-03-19   AAPL   175.69   177.750000   173.970000   175.85  27436203
7   05-03-19   AAPL   175.94   176.000000   174.540000   175.53  19737419
8   06-03-19   AAPL   174.67   175.490000   173.940000   174.52  20810384
9   07-03-19   AAPL   173.87   174.440000   172.020000   172.50  24796374
10  01-03-19   GOOG  1124.90  1142.970000  1124.750000  1140.99   1450316
11  04-03-19   GOOG  1146.99  1158.280000  1130.690000  1147.80   1446047
12  05-03-19   GOOG  1150.06   943.511538   926.775385  1162.03   1443174
13  06-03-19   GOOG  1162.49  1167.570000  1155.490000  1157.86   1099289
14  07-03-19   GOOG  1155.72  1156.760000  1134.910000  1143.30   1166559
15  01-03-19     FB   162.60   163.132000   161.690000   162.28  11097770
16  04-03-19     FB   163.90   167.500000   163.830000   167.37  18894689
17  05-03-19     FB   167.37   171.880000   166.550000   171.26  28187890
18  06-03-19     FB   172.90   173.570000   171.270000   172.51  21531723
19  07-03-19     FB   171.50   171.740000   167.610000   169.13  18306504
20  01-03-19   TSLA   306.94   307.130000   291.900000   294.79  22911375
21  04-03-19   TSLA   298.12   299.000000   282.780000   285.36  17096818
22  05-03-19   TSLA   282.00   284.000000   270.100000   276.54  18764740
23  06-03-19   TSLA   276.48   281.505800   274.390000   276.24  10335485
24  07-03-19   TSLA   278.84   284.700000   274.250000   276.59   9442483

        average  name  employees headquarters_city headquarters_state
0   1663.030000  AMZN     613300           Seattle                 WA
1   1691.240000  AMZN     613300           Seattle                 WA
2   1698.047500  AMZN     613300           Seattle                 WA
3   1308.801731  AMZN     613300           Seattle                 WA
4   1645.895000  AMZN     613300           Seattle                 WA
5    174.322500  AAPL     132000         Cupertino                 CA
6    175.815000  AAPL     132000         Cupertino                 CA
7    175.502500  AAPL     132000         Cupertino                 CA
8    174.655000  AAPL     132000         Cupertino                 CA
9    173.207500  AAPL     132000         Cupertino                 CA
10  1133.402500  GOOG      98771     Mountain View                 CA
11  1145.940000  GOOG      98771     Mountain View                 CA
12  1045.594231  GOOG      98771     Mountain View                 CA
13  1160.852500  GOOG      98771     Mountain View                 CA
14  1147.672500  GOOG      98771     Mountain View                 CA
15   162.425500    FB      48268        Menlo Park                 CA
16   165.650000    FB      48268        Menlo Park                 CA
17   169.265000    FB      48268        Menlo Park                 CA
18   172.562500    FB      48268        Menlo Park                 CA
19   169.995000    FB      48268        Menlo Park                 CA
20   300.190000  TSLA      48016         Palo Alto                 CA
21   291.315000  TSLA      48016         Palo Alto                 CA
22   278.160000  TSLA      48016         Palo Alto                 CA
23   277.153950  TSLA      48016         Palo Alto                 CA
24   278.595000  TSLA      48016         Palo Alto                 CA
        date symbol     open         high          low    close    volume  \
0   01-03-19   AMZN  1655.13  1674.260000  1651.000000  1671.73   4974877
1   04-03-19   AMZN  1685.00  1709.430000  1674.360000  1696.17   6167358
2   05-03-19   AMZN  1702.95  1707.800000  1689.010000  1692.43   3681522
3   06-03-19   AMZN  1695.97   943.511538   926.775385  1668.95   3996001
4   07-03-19   AMZN  1667.37  1669.750000  1620.510000  1625.95   4957017
5   01-03-19   AAPL   174.28   175.150000   172.890000   174.97  25886167
6   04-03-19   AAPL   175.69   177.750000   173.970000   175.85  27436203
7   05-03-19   AAPL   175.94   176.000000   174.540000   175.53  19737419
8   06-03-19   AAPL   174.67   175.490000   173.940000   174.52  20810384
9   07-03-19   AAPL   173.87   174.440000   172.020000   172.50  24796374
10  01-03-19   GOOG  1124.90  1142.970000  1124.750000  1140.99   1450316
11  04-03-19   GOOG  1146.99  1158.280000  1130.690000  1147.80   1446047
12  05-03-19   GOOG  1150.06   943.511538   926.775385  1162.03   1443174
13  06-03-19   GOOG  1162.49  1167.570000  1155.490000  1157.86   1099289
14  07-03-19   GOOG  1155.72  1156.760000  1134.910000  1143.30   1166559
15  01-03-19     FB   162.60   163.132000   161.690000   162.28  11097770
16  04-03-19     FB   163.90   167.500000   163.830000   167.37  18894689
17  05-03-19     FB   167.37   171.880000   166.550000   171.26  28187890
18  06-03-19     FB   172.90   173.570000   171.270000   172.51  21531723
19  07-03-19     FB   171.50   171.740000   167.610000   169.13  18306504
20  01-03-19   TSLA   306.94   307.130000   291.900000   294.79  22911375
21  04-03-19   TSLA   298.12   299.000000   282.780000   285.36  17096818
22  05-03-19   TSLA   282.00   284.000000   270.100000   276.54  18764740
23  06-03-19   TSLA   276.48   281.505800   274.390000   276.24  10335485
24  07-03-19   TSLA   278.84   284.700000   274.250000   276.59   9442483

        average  name  employees headquarters_city headquarters_state
0   1663.030000  AMZN     613300           Seattle                 WA
1   1691.240000  AMZN     613300           Seattle                 WA
2   1698.047500  AMZN     613300           Seattle                 WA
3   1308.801731  AMZN     613300           Seattle                 WA
4   1645.895000  AMZN     613300           Seattle                 WA
5    174.322500  AAPL     132000         Cupertino                 CA
6    175.815000  AAPL     132000         Cupertino                 CA
7    175.502500  AAPL     132000         Cupertino                 CA
8    174.655000  AAPL     132000         Cupertino                 CA
9    173.207500  AAPL     132000         Cupertino                 CA
10  1133.402500  GOOG      98771     Mountain View                 CA
11  1145.940000  GOOG      98771     Mountain View                 CA
12  1045.594231  GOOG      98771     Mountain View                 CA
13  1160.852500  GOOG      98771     Mountain View                 CA
14  1147.672500  GOOG      98771     Mountain View                 CA
15   162.425500    FB      48268        Menlo Park                 CA
16   165.650000    FB      48268        Menlo Park                 CA
17   169.265000    FB      48268        Menlo Park                 CA
18   172.562500    FB      48268        Menlo Park                 CA
19   169.995000    FB      48268        Menlo Park                 CA
20   300.190000  TSLA      48016         Palo Alto                 CA
21   291.315000  TSLA      48016         Palo Alto                 CA
22   278.160000  TSLA      48016         Palo Alto                 CA
23   277.153950  TSLA      48016         Palo Alto                 CA
24   278.595000  TSLA      48016         Palo Alto                 CA
       date symbol     open         high          low    close   volume  \
0  01-03-19   AMZN  1655.13  1674.260000  1651.000000  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.430000  1674.360000  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.800000  1689.010000  1692.43  3681522
3  06-03-19   AMZN  1695.97   943.511538   926.775385  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.750000  1620.510000  1625.95  4957017

       average  name  employees headquarters_city headquarters_state
0  1663.030000  AMZN     613300           Seattle                 WA
1  1691.240000  AMZN     613300           Seattle                 WA
2  1698.047500  AMZN     613300           Seattle                 WA
3  1308.801731  AMZN     613300           Seattle                 WA
4  1645.895000  AMZN     613300           Seattle                 WA

LAB 3.5: SỬ DỤNG MULTIINDEX VÀ GROUPBY(thời gian thực hiện: 15-20 phút.)
Mục Tiêu: Hiểu cách sử dụng MultiIndex và GroupBy để phân tích dữ liệu một cách hiệu
quả.
Nhiệm Vụ:
1. Tạo MultiIndex cho DataFrame stocks bằng cách sử dụng cột date và symbol làm
chỉ mục.
2. Sử dụng GroupBy để tính giá trung bình (open, high, low, close) và volume trung
bình cho mỗi ngày, cho mỗi mã chứng khoán.
3. Sắp xếp dữ liệu theo ngày và mã chứng khoán.
4. Hiển thị kết quả cho 5 ngày đầu tiên.

In [15]:
#Tạo multiindex cho dataframe 
stocks_index=stocks.set_index(['symbol', 'date'])
print(stocks_index)

#Sử dụng groupby để tính gtri trung bình
group = stocks_index.groupby(level='symbol')
result = group[['open', 'high', 'low', 'close']].mean()
print(result)

#Sắp xếp dữ liệu theo ngày và mã chứng khoán
sap_xep=stocks_index.sort_index(level=['symbol','date'])
print(sap_xep)

#Hiển thị 5 ngày đầu tiên
print(sap_xep[:5])

                    open         high          low    close    volume  \
symbol date
AMZN   01-03-19  1655.13  1674.260000  1651.000000  1671.73   4974877
       04-03-19  1685.00  1709.430000  1674.360000  1696.17   6167358
       05-03-19  1702.95  1707.800000  1689.010000  1692.43   3681522
       06-03-19  1695.97   943.511538   926.775385  1668.95   3996001
       07-03-19  1667.37  1669.750000  1620.510000  1625.95   4957017
AAPL   01-03-19   174.28   175.150000   172.890000   174.97  25886167
       04-03-19   175.69   177.750000   173.970000   175.85  27436203
       05-03-19   175.94   176.000000   174.540000   175.53  19737419
       06-03-19   174.67   175.490000   173.940000   174.52  20810384
       07-03-19   173.87   174.440000   172.020000   172.50  24796374
GOOG   01-03-19  1124.90  1142.970000  1124.750000  1140.99   1450316
       04-03-19  1146.99  1158.280000  1130.690000  1147.80   1446047
       05-03-19  1150.06   943.511538   926.775385  1162.03   1443174
       06-03-19  1162.49  1167.570000  1155.490000  1157.86   1099289
       07-03-19  1155.72  1156.760000  1134.910000  1143.30   1166559
FB     01-03-19   162.60   163.132000   161.690000   162.28  11097770
       04-03-19   163.90   167.500000   163.830000   167.37  18894689
       05-03-19   167.37   171.880000   166.550000   171.26  28187890
       06-03-19   172.90   173.570000   171.270000   172.51  21531723
       07-03-19   171.50   171.740000   167.610000   169.13  18306504
TSLA   01-03-19   306.94   307.130000   291.900000   294.79  22911375
       04-03-19   298.12   299.000000   282.780000   285.36  17096818
       05-03-19   282.00   284.000000   270.100000   276.54  18764740
       06-03-19   276.48   281.505800   274.390000   276.24  10335485
       07-03-19   278.84   284.700000   274.250000   276.59   9442483

                     average
symbol date
AMZN   01-03-19  1663.030000
       04-03-19  1691.240000
       05-03-19  1698.047500
       06-03-19  1308.801731
       07-03-19  1645.895000
AAPL   01-03-19   174.322500
       04-03-19   175.815000
       05-03-19   175.502500
       06-03-19   174.655000
       07-03-19   173.207500
GOOG   01-03-19  1133.402500
       04-03-19  1145.940000
       05-03-19  1045.594231
       06-03-19  1160.852500
       07-03-19  1147.672500
FB     01-03-19   162.425500
       04-03-19   165.650000
       05-03-19   169.265000
       06-03-19   172.562500
       07-03-19   169.995000
TSLA   01-03-19   300.190000
       04-03-19   291.315000
       05-03-19   278.160000
       06-03-19   277.153950
       07-03-19   278.595000
            open         high          low     close
symbol
AAPL     174.890   175.766000   173.472000   174.674
AMZN    1681.284  1540.950308  1512.331077  1671.046
FB       167.654   169.564400   166.190000   168.510
GOOG    1148.032  1113.818308  1094.523077  1150.396
TSLA     288.476   291.267160   278.684000   281.904
                    open         high          low    close    volume  \
symbol date
AAPL   01-03-19   174.28   175.150000   172.890000   174.97  25886167
       04-03-19   175.69   177.750000   173.970000   175.85  27436203
       05-03-19   175.94   176.000000   174.540000   175.53  19737419
       06-03-19   174.67   175.490000   173.940000   174.52  20810384
       07-03-19   173.87   174.440000   172.020000   172.50  24796374
AMZN   01-03-19  1655.13  1674.260000  1651.000000  1671.73   4974877
       04-03-19  1685.00  1709.430000  1674.360000  1696.17   6167358
       05-03-19  1702.95  1707.800000  1689.010000  1692.43   3681522
       06-03-19  1695.97   943.511538   926.775385  1668.95   3996001
       07-03-19  1667.37  1669.750000  1620.510000  1625.95   4957017
FB     01-03-19   162.60   163.132000   161.690000   162.28  11097770
       04-03-19   163.90   167.500000   163.830000   167.37  18894689
       05-03-19   167.37   171.880000   166.550000   171.26  28187890
       06-03-19   172.90   173.570000   171.270000   172.51  21531723
       07-03-19   171.50   171.740000   167.610000   169.13  18306504
GOOG   01-03-19  1124.90  1142.970000  1124.750000  1140.99   1450316
       04-03-19  1146.99  1158.280000  1130.690000  1147.80   1446047
       05-03-19  1150.06   943.511538   926.775385  1162.03   1443174
       06-03-19  1162.49  1167.570000  1155.490000  1157.86   1099289
       07-03-19  1155.72  1156.760000  1134.910000  1143.30   1166559
TSLA   01-03-19   306.94   307.130000   291.900000   294.79  22911375
       04-03-19   298.12   299.000000   282.780000   285.36  17096818
       05-03-19   282.00   284.000000   270.100000   276.54  18764740
       06-03-19   276.48   281.505800   274.390000   276.24  10335485
       07-03-19   278.84   284.700000   274.250000   276.59   9442483

                     average
symbol date
AAPL   01-03-19   174.322500
       04-03-19   175.815000
       05-03-19   175.502500
       06-03-19   174.655000
       07-03-19   173.207500
AMZN   01-03-19  1663.030000
       04-03-19  1691.240000
       05-03-19  1698.047500
       06-03-19  1308.801731
       07-03-19  1645.895000
FB     01-03-19   162.425500
       04-03-19   165.650000
       05-03-19   169.265000
       06-03-19   172.562500
       07-03-19   169.995000
GOOG   01-03-19  1133.402500
       04-03-19  1145.940000
       05-03-19  1045.594231
       06-03-19  1160.852500
       07-03-19  1147.672500
TSLA   01-03-19   300.190000
       04-03-19   291.315000
       05-03-19   278.160000
       06-03-19   277.153950
       07-03-19   278.595000
                   open    high     low   close    volume   average
symbol date
AAPL   01-03-19  174.28  175.15  172.89  174.97  25886167  174.3225
       04-03-19  175.69  177.75  173.97  175.85  27436203  175.8150
       05-03-19  175.94  176.00  174.54  175.53  19737419  175.5025
       06-03-19  174.67  175.49  173.94  174.52  20810384  174.6550
       07-03-19  173.87  174.44  172.02  172.50  24796374  173.2075

LAB 3.6: TẠO VÀ PHÂN TÍCH PIVOT TABLE (thời gian thực hiện: 15-20 phút.)
Mục Tiêu: Biết cách tạo và sử dụng Pivot Table để phân tích dữ liệu.
Nhiệm Vụ:
1. Tạo Pivot Table từ DataFrame stocks với date làm chỉ mục, symbol làm cột, và giá
trị trung bình của close làm giá trị.
2. Thêm một cột tính tổng volume giao dịch cho mỗi mã chứng khoán (symbol).
3. Sắp xếp Pivot Table dựa trên tổng volume giao dịch, từ cao xuống thấp.
4. Hiển thị kết quả cho 5 mã chứng khoán có tổng volume giao dịch cao nhất.